html {
    margin-top: 20px;
}

.outer {
    display: flex;
    flex-direction: column;
    align-content:flex-start;
    float:left;

}

.panel {
    max-width: fit-content ;
    border: 6px double rgba(77, 188, 108, 0.3);
    background-color: white;
    height:auto;
    margin: 0 30px 30px;
}

.banner {
    padding: 8px;
    background-color: rgb(62, 164, 91);
}

.inst {
    font-family: 'Maven Pro', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-align: center;
    color: white;
}

form {
    margin: 30px;
}
.used {
    float: inline-start;
}

.letter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 2px;
    border-style: solid;
    border-color: lightgrey;
    margin: 3px;
}

.enter {
    background-color: rgb(71, 163, 37);
    color: white;
    font-weight: 500;
    margin-left: 20px;
}

.right-spot {
    background-color: rgb(71, 163, 37);
    color: white;
    border-color: rgb(71, 163, 37);
}

.wrong-spot {
    background-color: rgb(221, 179, 70);
    color: white;
    border-color: rgb(221, 179, 70);
}

.wrong-letter {
    background-color: rgb(125, 124, 124);
    color: white;
    border-color: rgb(125, 124, 124);
}

#wrong {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    max-width: 400px;
    color: rgb(125, 124, 124);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    max-width: 400px;
    margin-top: 30px;
    color: black;
}